.card-saved {
    background: white;
    border-radius: 2px;
    position: relative;
    max-width: 500px;
    min-width: 250px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 15px;

    /* margin-left: 10px; */
 
    box-shadow: 0 1px 2px rgb(96, 95, 95), 0 3px 6px #999;
    
  }
  .card-header {
      background: black;
      color: white;
  }
  .card-img-top {
      background: black;
      padding-bottom: 20px;
      border-bottom: 17px solid black;
      border-radius: 0;
  
  }
  .card-img-top img {
    border-radius: 2px;
  }
  .card-saved > .saved-img-div {
    height: 60%;
    overflow: hidden;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    /* background:#6CADDC; */
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-body {
    
        height: 160px;
        overflow: scroll;
        /* margin: 10px; */
 
  }
