.mapWrapper-africa {
    position: relative;
    
  }

  .image-container-africa {
    position: relative;
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .africa {
    max-width: 58%;
    min-width: 58%;
    display: flex; 
    margin: auto;
    left: 0;  
    right: 0;
  }
  
  .Egypt-dot {
    position: absolute;
    top: 14%;
    left: 58%;
    background: #6D316D;
  }
  #hover-egypt {
    display: none;
    top: 0%;
    left: 59%;
    position: absolute;
    color: #6D316D;
  } 
  
  .Egypt-dot:hover + #hover-egypt {
    display: block;
    border: none;
  }

  .Nigeria-dot {
    position: absolute;
    top: 39%;
    left: 42%;
    background: #F78C27;
  }
  #hover-nigeria {
    display: none;
    top: 43%;
    left: 42%;
    position: absolute;
    color: #F78C27;
    font-weight: 800;
  } 
  
  .Nigeria-dot:hover + #hover-nigeria {
    display: block;
    border: none;
  }

  .Ethiopia-dot {
    position: absolute;
    top: 35%;
    left: 66%;
    background: #DB3636;
  }
  #hover-ethiopia {
    display: none;
    top: 40%;
    left: 55%;
    position: absolute;
    color: #DB3636;
    font-weight: 800;
  } 
  
  .Ethiopia-dot:hover + #hover-ethiopia {
    display: block;
    border: none;
  }
  