.mapWrapper-africa {
    position: relative;
  }

  .image-container-africa {
    position: relative;
    margin-left: 270px;
  }

  .africa {
    max-width: 68%;
    min-width: 68%;
    margin: 0 auto;
    position: relative;
  }
  
  .Egypt-dot {
    position: absolute;
    top: 14%;
    left: 43%;
    background: greenyellow;
  }

  .Nigeria-dot {
    position: absolute;
    top: 40%;
    left: 24%;
    background: aqua;
  }

  .Ethiopia-dot {
    position: absolute;
    top: 35%;
    left: 53%;
    background: palevioletred;
  }
  