.mapWrapper-africa {
    position: relative;
    
  }

  .image-container-africa {
    position: relative;
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .africa {
    max-width: 58%;
    min-width: 58%;
    display: flex; 
    margin: auto;
    left: 0;  
    right: 0;
  }
  
  .Egypt-dot {
    position: absolute;
    top: 14%;
    left: 58%;
    background: greenyellow;
  }

  .Nigeria-dot {
    position: absolute;
    top: 39%;
    left: 42%;
    background: aqua;
  }

  .Ethiopia-dot {
    position: absolute;
    top: 35%;
    left: 66%;
    background: palevioletred;
  }
  