.mapWrapper-south-america {
  position: relative;
}
.image-container-south-america {
  position: relative;
  margin-left: 0px;
  margin-bottom: 15px;
}
.southAmerica {
  max-width: 45%;
  min-width: 45%;
  position: relative;
  display: flex; 
  margin: auto;
  left: 0;  
  right: 0;
}

.Brazil-dot {
  position: absolute;
  top: 35%;
  left: 57%;
  background: greenyellow;
}
.Colombia-dot {
  position: absolute;
  top: 9%;
  left: 35%;
  background: aqua;
}
.Peru-dot {
  position: absolute;
  top: 30%;
  left: 33%;
  background: palevioletred;
}

