
.mapWrapper-europe {
    position: relative;
}
.image-container-europe {
    position: relative;
    margin-left: 0px;
    margin-bottom: 15px;
}
.europe { 
    max-width: 52%;
    min-width: 52%;
    position: relative; 
    display: flex; 
    margin: auto;
    left: 0;  
    right: 0;
  }

  .continent> .active {
    border-bottom: 20px solid #333;
}

  .Spain-dot {
    position: absolute;
    top: 78%;
    left: 28%;
    background: greenyellow;
  }
  .Greece-dot {
    position: absolute;
    top: 88%;
    left: 48.5%;
    background: aqua;
  }
  .Poland-dot {
    position: absolute;
    top: 61%;
    left: 49%;
    background: palevioletred;
  }
 