
#world-map {
    height: 1000px;
}

.link-container {
    transform: translateY(-50%);
    z-index: 1;
    flex: 1;
}

#search-yelp {
    background: black;
    
}

.pop-up {
    background: #A51C5C;
    color: white;
    font-size: 15px;
    width: 250px;
    padding: 20px;
    height: 70px;
   position: fixed;
   bottom: 25;
   right: 0;
   z-index: 3000;
}

.link-container .scroll {
    width: 150px;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    background: #4ED3B0;
    color: black;
    padding: 2px;
    padding-right: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.link-container .scroll:hover {
    background: #A51C5C;
}

#search-page-container {
    width: 100%
} */

.saved-wrapper {
    position: relative;
    flex: 1;
}

 #search-page-container .scroll-section {
position: relative;
width: 100%;
  
} 
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: row; /* new */
    flex-wrap: wrap; /* new */
    align-content: space-between; /* new */
}
.core-values-left > div {
    flex: 1; /* new */
}
