a {
    color: pink;
}
#world-map {
    height: 1000px;
}
.link-container {
    transform: translateY(-50%);
    z-index: 1;
}
#search-yelp {
    background: black;
    
}


.link-container .scroll {
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    background: #4ED3B0;
    color: black;
    padding: 2px;
    padding-right: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#search-page-container {
    width: 100%
} */

 #search-page-container .scroll-section {
position: relative;
width: 100%;
  
} 
.flex-row > [class*='col-'] {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row; /* new */
    flex-wrap: wrap; /* new */
    align-content: space-between; /* new */
}
.core-values-left > div {
    flex: 1; /* new */
}

/* .search-area {
    /* padding-top: 50px; */
    /* background: white;
    height: 100%;
    width: 100%; */
    /* margin: 10px; */
    /* display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
} */ 
@media screen and (min-width: 900px) {
    .country-text {
      font-size: 60px;
    }
  }