a {
    color: pink;
}

.link-container {
    transform: translateY(-50%);
    z-index: 1;
}

.link-container .scroll {
    text-decoration: none;
}

#search-page-container {
    width: 100%
} */

 #search-page-container .scroll-section {
position: relative;
width: 100%;
  
} 
.flex-row > [class*='col-'] {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row; /* new */
    flex-wrap: wrap; /* new */
    align-content: space-between; /* new */
}
.core-values-left > div {
    flex: 1; /* new */
}

/* .search-area {
    /* padding-top: 50px; */
    /* background: white;
    height: 100%;
    width: 100%; */
    /* margin: 10px; */
    /* display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
} */ 