.mapWrapper-asia {
    position: relative;
  }

  .image-container-asia {
    position: relative;
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .asia {
    max-width: 73%;
    min-width: 73%;
    display: flex; 
    margin: auto;
    left: 0;  
    right: 0;
}
  
  
  .Korea-dot {
    position: absolute;
    top: 46%;
    left: 69%;
    background: greenyellow;
  }

  .Indonesia-dot {
    position: absolute;
    top: 83%;
    left: 57%;
    background: aqua;
  }

  .China-dot {
    position: absolute;
    top: 45%;
    left: 52%;
    background: palevioletred;
  }
  