

.mapWrapper-north-america {
    position: relative;
}
.image-container-north-america {
    position: relative;

    margin-left: 0;
    margin-top: 15px;
}
.northAmerica { 
    max-width: 65%;
    min-width: 65%;
    display: flex; 
    margin: auto;
    left: 0;  
    right: 0;
  }
  

  .unitedStates-dot {
    position: absolute;
    top: 63%;
    left: 54%;
    background: #F78C27;
  }
  #hover-US {
    display: none;
    top: 68%;
    left: 35%;
    /* font-size: 36px; */
    position: absolute;
    color: #F78C27;
    /* background: white; */
    /* border: 3px solid black;
    border-radius: 8px; */
    font-weight: 800;
}

.unitedStates-dot:hover + #hover-US{
    display: block;
}
  .canada-dot {
    position: absolute;
    top: 38%;
    left: 46%;
    background: #4ED3B0;
  }

  #hover-canada {
    display: none;
    top: 23%;
    left: 36%;
    position: absolute;
    color: #4ED3B0;
    font-weight: 800;
}

.canada-dot:hover + #hover-canada {
    display: block;
}
  .mexico-dot {
    position: absolute;
    top: 83%;
    left: 54%;
    background: #6D316D;
  }
  #hover-mexico {
    display: none;
    top: 88%;
    left: 43%;
    position: absolute;
    color: #6D316D;
    font-weight: 800;
}

.mexico-dot:hover + #hover-mexico{
    display: block;
}
  .puertoRico-dot {
    position: absolute;
    top: 89%;
    left:75%;
    background: #DB3636;
  }
  #hover-PR {
    display: none;
    top: 93%;
    left: 70%;
    position: absolute;
    color: #DB3636;
    font-weight: 800;
}

.puertoRico-dot:hover + #hover-PR{
    display: block;
}
