.yelpCard {
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 2px;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    height: 325px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0;
    box-shadow: 0 1px 1px rgb(96, 95, 95), 0 2px 4px #999;
}
.card-body .card-header-yelp {
    padding: 15px;
}

.yelp-link:hover {
opacity: .7;
}

.card-header-yelp {
padding-top: 20px;
}
.yelpCard > .yelp-img-div {
    height: 80%;
    overflow: hidden;
    text-align: center;
  }