.worldMap {
    max-width: 100%;
    position: relative;
}

.mapWrapper {
    position: relative;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .northAmerica-dot {
    position: absolute;
    top: 26%;
    left: 19%;
    /* background: blue; */
     background: #6D316D;
    /* background: #832161 */
  }

  #hover-NA {
    display: none;
    top: 33%;
    left: 3%;
    position: absolute;
    color: #6D316D;
    font-weight: 800;
}

.northAmerica-dot:hover + #hover-NA {
    display: block;
}

  .southAmerica-dot {
    position: absolute;
    top: 66%;
    left: 32%;
    /* background: greenyellow; */
    background: #DB3636;
    /* background: #DA4167; */
  }
  #hover-SA {
    display: none;
    top: 72%;
    left: 13%;
    position: absolute;
    color: #DB3636;
    font-weight: 800;
}

.southAmerica-dot:hover + #hover-SA {
    display: block;
}
  .africa-dot {
    position: absolute;
    top: 48%;
    left: 54%;
    /* background: aqua; */
    background: #A51C5C;
    /* background: #DA4167; */
  }

  #hover-Africa {
    display: none;
    top: 54%;
    left: 54%;
    position: absolute;
    color: #A51C5C;
    font-weight: 800;
}

.africa-dot:hover + #hover-Africa {
    display: block;
}
  
  .europe-dot {
    position: absolute;
    top: 24%;
    left: 55%;
    /* background: palevioletred; */
    background: #F78C27;
    /* background: yellowgreen; */
  }

  #hover-Europe {
    display: none;
    top: 17%;
    left: 59%;
    position: absolute;
    color: #F78C27;
    font-weight: 800;
}

.europe-dot:hover + #hover-Europe {
    display: block;
}
  .asia-dot {
    position: absolute;
    top: 23%;
    left: 82%;
    background: #4ED3B0;
  }
  #hover-Asia {
    display: none;
    top: 6%;
    left: 74%;
    position: absolute;
    color: #4ED3B0;
    font-weight: 800;
}

.asia-dot:hover + #hover-Asia {
    display: block;
}
  .australia-dot {
    position: absolute;
    top: 76%;
    left: 86%;
    /* background: yellow; */
    background: #D61D6A;
  }
.dot:hover {
  opacity: .7;
}
